<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<META name="description" content="Wenbin Zhang is a Ph.D. student doing research in machine learning and statistics."><META name="keywords" content="computer science, machine learning, statistics, deep learning, reinforcement learning, pca, optimization, unsupervised learning">
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		{% include analytics.html %}
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research">Research</a></li>
			<li><a href="/awards">Awards</a></li>
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
    			<li><small>© Aug 2019, Wenbin Zhang</small></li>
			</ul>
		</footer>
	</body>
</html>
